.header {
  padding-top: 25px;
  margin-bottom: 68px;
  font-size: 16px;
}

.header__left {
  @include span(5);
}

.brand-link {
  display: block;
  text-decoration: none;
}

.brand__logo {
  display: inline-block;
}

.logo__img {
  height: 67px;

  vertical-align: middle;
}

.brand__text {
  display: inline-block;
  color: $orange;
  font-family: "ALS Malina", Helvetica, Arial, sans-serif;
  font-size: 36px;
  vertical-align: middle;
  margin-left: 15px;
}


.header__right {
  @include span(10.55 last);
}

.header__nav {
  display: inline-block;
  margin-top: 13px;
}

.nav__item {
  display: inline-block;
  margin-right: 31px;
  position: relative;
  letter-spacing: 2px;
  &:hover:not(.nav__item_dropdown) {
    .nav__item-link {
      color: $orange;
    }
  }
}


.nav__item-link {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 10px;
}

.nav__item_dropdown {

  &:hover {
    &:after {
      content: "";
      position: absolute;
      width: 227px;
      height: 40px;
      right: -62px;
      top: 32px;
    }

    .nav__item-link {
      color: $orange;
    }

    .nav__item-link:after {
      border-bottom: 1px solid $orange;
      border-right: 1px solid $orange;
      transform: rotate(-135deg);
      margin-top: 0;
    }

    .nav__dropdown-list {
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
  }

  .nav__item-link {

    &:after {
      content: '';
      display: inline-block;
      height: 4px;
      width: 4px;
      transform: rotate(45deg);
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      position: absolute;
      margin-left: 8px;
      margin-top: -2px;
      top: 50%;
    }
  }
}

.optional__list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}


.optional__item {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: $clear-white;
  margin-right: 20px;
  &:hover {
    background: rgba($orange, .6);
  }
}

.optional__item-img {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin: 12px;
}

.optional__item-link {
  display: inline-block;
  text-align: center;
  width: 42px;
  height: 42px;
}

.optional__item_cabinet {
  &:hover {
    .nav__icon_cabinet {
       background-position: 0 0;
    }
  }
}

.optional__item_search {
  &:hover {
    .nav__icon_search {
       background-position: 0 -190px;
    }
  }
}

.nav__dropdown-list {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  padding-top: 25px;
  padding-bottom: 40px;
  background: $manu-color;
  border-radius:20px;
  top: 62px;
  right: -62px;
  width: 227px;
  visibility: hidden;
  transition: 0.2s;
  opacity: 0;

  &:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 94px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid $manu-color;
    border-left: 20px solid transparent;
  }
}

.dropdown__item {
  padding-top: 16px;
  padding-right: 10px;
  padding-left: 50px;
  letter-spacing: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown__item-link {
  color: $black;
  text-decoration: none;
  white-space: pre;

  &.dropdown__item-link:before {
      content: "";
      position: absolute;
      left: 0;
      border-left: 10px solid $orange;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transform: translateX(-10px);
      transition: 0.2s;
    }

  &:hover {
    font-weight: bold;
    color: $more-black;
    &.dropdown__item-link:before {
      content: "";
      position: absolute;
      left: 0;
      border-left: 10px solid $orange;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transform: translateX(0px);
    }
  }
}