.main {
  background: linear-gradient(to bottom left, #8F0112, #C5242C);
}

.carousel__items {
  color: white;
}


.swiper-container {
  width: 1150px;
  height: 598px;
}

.swiper-pagination {
  padding-bottom: 44px;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  margin: 0 15px!important;
}

.swiper-pagination-bullet-active {
  background: $orange;
}

.item__characteristic {
   @include span(2);
}

.product__ingredient {
  margin-top: 85px;
  position: relative;
}

.ingredient__items {
  position: absolute;
  visibility: hidden;
  z-index: 10;
  top:-70px;
  left: 117px;
  color: $black;
  background: $manu-color;
  padding: 35px 60px 20px 30px;
  border-radius: 20px;
  width: 380px;
  font-size: 16px;
  font-family: Hevetica, Arial, sans-serif;
  transition: 0.3s;
  opacity: 0;
  &:before {
    content: "";
    position: absolute;
    top: 29%;
    left: 0;
    margin-left: -34px;
    border: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 14px solid $manu-color;
    border-bottom: 20px solid transparent;
  }
}

.ingredient__icon,
.ingredient__name,
.ingredient__count {
  display: inline-block;
  vertical-align: middle;
}

.ingredient__name {
  width: 70%;
}

.ingredient__item {
  padding-bottom: 14px;
}

.ingredient__icon {
  height: 24px;
  width: 26px;
  margin-right: 5px;
  margin-left: 6px;
  max-width:100%;

}

.ingredient__count {
  width: 14%;
}

.optional__item_ingredient {
  margin-left: 25px;
  &:hover {
    .ingredient__items {
      visibility: visible;
      opacity: 1;
    }
    .nav__icon_ingredient {
        background-position: 0 -94px;
    }
  }
}

.optional__title {
  margin-top: 10px;
}

.product__period-live {
  margin-top: 194px;
  cursor: default;
}

.period-live__title {
  color: rgba(#fff, .4);
}

.period-live__hour {
  font-family: $malina-font-family;
  font-size: 24px;
  margin-top: -8px;
}

.item__picture {
   @include span(6);
}

.product__img {
  position: relative;
  z-index: 1;
  margin-left: 25px;
  margin-bottom: -19px;
  max-height: 475px;
}

.product__img_shadow {
  width: 435px;
  margin-left: 25px;
  height: 60px;
  background: url("/img/shadow.png");
}

.item__description {
  @include span(6.35 last);
}

.item__background-title {
  position: absolute;
  display: block;
  text-transform: uppercase;
  top: 31%;
  font-size: 150px;
  font-family: $malina-font-family;
  color: $more-clear-white;
  line-height: 1;
  padding-left: 6px;
  z-index: 0;
  cursor: default;
}

.product__title {
  cursor: default;
  margin-top: 36px;
}

.product__description {
  cursor: default;
  padding-top: 10px;
  width: 94%;
  margin-bottom: 26px;
}

.product__order {
  position: relative;
}

.order__price {
  display: inline-block;
  font-family: $malina-font-family;
  font-size: 62px;
  vertical-align: middle;
  line-height: 1.24;
  margin-right: 40px;
  cursor: default;
}

.order__button {
  display: inline-block;
  position: absolute;
  z-index: 10;
  bottom: 14px;
}

.order__button-link {
  display: block;
  text-decoration: none;
  padding: 14px 24px;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  background: $orange;
  color: #a4151c;
  border-radius: 25px;
  transition: 0.6s;
  &:hover {
    color: $orange;
    background: #641a00;
  }
}