$orange : #fca211;
$black : #575757;
$more-black: #333;
$manu-color:rgba(white, .9);
$clear-white: rgba(#fff, .2);
$more-clear-white: rgba(#fff, .1);
$malina-font-family: "ALS Malina", Helvetica, Arial, sans-serif;;


// plugins
@import "compass";
@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/general/clearfix";

// vendor
@import "normalize";
@import "susy";


// abstracts
@import "abstracts/mixins";

// base
@import "base/adjustment";
@import "base/fonts";
@import "base/grids";
@import "base/typography";


// layouts
@import "layout/main";
@import "layout/header";

// components
@import "components/icon";

// section
@import "section/main";
@import "section/why-tasty";
