doctype html
html(lang="ru")
	include includes/_head
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
	body

		.wrapper
			.main-content

				include includes/section/_main
				include includes/section/_why-tasty
				include includes/section/_deliver
				include includes/section/_team
				include includes/section/_faq
				include includes/section/_map

		include includes/_footer

		script(src="js/app.js")