doctype html
html(lang="ru")
	include includes/_head
	body
		.wrapper
			.main-content
				include includes/section/_main
				include includes/section/_why-tasty
				include includes/section/_deliver
				include includes/section/_team
				include includes/section/_faq
				include includes/section/_map
			include includes/_footer
			script(src="js/app.js")