//- Created by mitri4 at 25.06.16
// --//-- _footer --\\--
footer.footer
	.container
		.footer__logo
			.footer__logo_pic
				img.footer__logo_img(src="img/logo.png" alt="logo")
			.footer__logo_text Hipsweet
		.footer__copyright © 2016 Все права защищены.
		.footer__addres г. Москва, Вознесенский проспект 44 оф 166
		.footer__social
			ul.social__list
				li.social__item
					a.socials__item-link(href="javascript: void(0);")

// --\\-- _footer --//--