head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title= "Hipsweet"
	link(rel="icon", href="ico/favicon.ico", type="image/x-icon")
	link(rel="stylesheet", href="css/main.css")