head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport" content="width=1100")
	title= "Hipsweet"
	link(rel="icon", href="ico/favicon.ico", type="image/x-icon")
	// build:css
	link(rel="stylesheet", href="vendors/Swiper/dist/css/swiper.css")
	link(rel="stylesheet", href="css/main.css")
	// endbuild
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")