//- Created by mitri4 at 01.07.16
// --//-- _scripts --\\--
// build:js
script(src="vendors/jquery/dist/jquery.js")
script(src="vendors/Swiper/dist/js/swiper.js")
script(src="vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js")
script(src="js/app.js")
// endbuild
// --\\-- _scripts --//--