//- Created by mitri4 at 25.06.16
// --//-- _faq --\\--
-var questions = ["Если курьер опоздал, будут ли какие-то бонусы?", "Добавляете ли вы какие-либо консерванты в вашу продукцию?", "Как долго готовится у вас индивидуальный торт?"]
-var text= "В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus."
-var text_second= "В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами."
section.faq
	.conteiner
		h3.title__faq Часто задаваемые вопросы
		ol.questions__list(type="1" start="1")
			li.questions__item.questions__item_active
				.questions__item_text
					a.questions__item_link(href="javascript: void(0);")="Сколько по времени курьер доставляет заказ"
				.questions__item_answer
					p=text
					p=text_second

			for question in questions
				li.questions__item
					.questions__item_text
						a.questions__item_link(href="javascript: void(0);")=question
					.questions__item_answer
						p=text
						p=text_second
// --\\-- _faq --//--