//- Created by mitri4 at 25.06.16
// --//-- _main --\\--

-var ingredients= [{icon:"ingredient__icon_flour", name: "мука пшеничная", count: "200 г."},{icon:"ingredient__icon_egg", name: "яицо", count: "3 шт."}, {icon:"ingredient__icon_sugar", name: "сахарный песок", count: "20 г."}, {icon:"ingredient__icon_butter", name: "масло сливочное", count: "50 г."}, {icon:"ingredient__icon_cmilk", name: "молоко сгущеное", count: "100 г."}]

mixin ingredient(ingredient_icon, ingredient_name, ingredient_count)
	li.ingredient__item
		.ingredient__icon(class=ingredient_icon)
		.ingredient__name=ingredient_name
		.ingredient__count=ingredient_count

section.main
	include main/_header
	.main__carousel
		.conteiner
			.carousel__items
					.carousel__item.carousel__item_active
						.item__characteristic
							.product__ingredient
								.optional__item.optional__item_ingredient
									a.optional__item-link(href="javascript:void (0);")
										.optional__item-img.nav__icon_ingredient

									ul.ingredient__items
										each item in ingredients
											+ingredient(item.icon, item.name, item.count)
								.optional__title Ингредиенты
							.product__period-live
								.period-live__title Срок хранения:
								.period-live__hour 120 часов
						.item__picture
							img.product__img(src="img/content/products/cake.png" alt="cake")
						.item__description
							h3.product__title Sweet Cupcake
							.product__description
								p	В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури
							.produxt__order
								.order__price 199 ¤
								.order__button
									a.order__button-link(href="javascript:void (0);") Заказать
						.item__background-title пироженка
			.carousel__item-selector
				ul.selector__list
					a.selector__item-link(href="javascript: void(0);")
						li.selector__item.selector__item_active
					a.selector__item-link(href="javascript: void(0);")
						li.selector__item
					a.selector__item-link(href="javascript: void(0);")
						li.selector__item
					a.selector__item-link(href="javascript: void(0);")
						li.selector__item
					a.selector__item-link(href="javascript: void(0);")
						li.selector__item
					a.selector__item-link(href="javascript: void(0);")
						li.selector__item
// --\\-- _main --//--