//- Created by mitri4 at 25.06.16
// --//-- _main --\\--
section.main
	include main/_header
	.main__carousel
		.conteiner
			.carousel__items
					.carousel__item.carousel__item_active
						.item__characteristic
							.product__ingredient
								.optional__item.optional__item_ingredient
									a.optional__item-link(href="javascript:void (0);")
										.optional__item-img.nav-icon-ingredient
									ul.ingredient__items
										.ingredient__item
											.ingredient__icon.ingredient-icon-flour
											.ingredient__name мука пшеничная
											.ingredient__count 200 г.
							.product__period-live
								.period-live__title Срок хранения:
								.period-live__hour	120 часов
						.item__picture
							img.product__img(src="img/content/products/cake.png" alt="cake")
// --\\-- _main --//--