//- Created by mitri4 at 25.06.16
// --//-- _team --\\--
-var contributors = [{name:"Тони Ройстер", position: "Главный шеф повар", tab:'#tony'}, {name:"Ричард Джейс", position: "Главный Кондитер", tab:'#richard'}, {name:"Майти Модстер", position: "Дегустатор", tab:'#maity'}]
mixin tab-link(tab, name, position)
	li.team__tabs
		a.tabs__contributor_link(href=tab)
			h4.contributor__name=name
			.contributor__position=position

section.team
	.conteiner
		h3.team__title Наша команда
		ul.team__list
			for item in contributors
				+tab-link(item.tab, item.name, item.position)
		.team__list_content
				for item in contributors
					.contributer__description(id=item.tab)
						p Тони родился в Ленинграде  в 1985 году. Учился в Морском техническом колледже по специальности «судовой повар». В кулинарную жизнь окунулся в 2005, когда попал к Фабрицио Фатуччи (ресторан Sculptors) и стал его правой рукой. Нередко они вместе лично обслуживали Президента России Дмитрия Медведева на открытых и закрытых мероприятия.
							strong	Тони неоднократно посещал Италию, где изучил местную гастрономию и набрался опыта.
						p Шеф-повар является постоянным участником различных номинаций и фестивалей: выступал в Париже на мировом фестивале Omnivore Paris в команде с Иваном Березуцким; представлял Россию на неделе русской кухни в Эстонии; регулярно участвовал в «Мадрид Фьюжн», съезде шеф-поваров со всего мира, где представляются новые гастрономические техники. В 2012 г. на Экономическом форуме обеспечивал работу кухни для высокопоставленных лиц. Не так давно был участником экспедиции на Белое море, где узнал все о региональных продуктах и особенностях кухни. В 2013 участвовал в фестивале «Северная кухня»; выезжал на гастроли в Москву, открывая «pop-up» проект DOOR 19.
		.team__form
			.form__left
				h3.form__title
			.form__right
				form(class="form__send-form" method="post" id="send_mail")
					input(class="send-form__name" name="name" placeholder="Введите Ваше имя")
					input(class="send-form__email" name="email" placeholder="Введите Ваш Email")
					input(class="send-form__phone" name="phone" placeholder="8 (___) ___-__-__" )
					.send-form__checkbox
						input(type="checkbox" id="capcha" class="send-form__capcha")
						label(for="capcha") Заказать обратный звонок
					button(type="submit" class="send-form__submit")
// --\\-- _team --//--
